.Q_1{
    height: 100%;
    width: 100%;
    background-color: #e4e3e3;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#nav-bar {
    background-color: #f6f6f6; opacity: 1;  
    overflow: hidden;    
    padding-top:15px;
    padding-left: 20px;
    margin-left:0px;
    width:100%;
    animation-name: fill;
    animation-duration: 12s;
  }
  #nav-bar a {
    background-color: #f6f6f6;
    float: right;
    display: block;
    color: #413E66;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    position: relative;
    top:5px
  }
  .myButton1 {	
    border:0px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:12px 24px;
    text-decoration:none;
  text-shadow:0px 1px 2px #ffffff;
  position: static;
  right:80px;
}
.myButton1:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
.myButton1:active {
    position:relative;
    top:1px;
}
.product_name{
    float: left;
    font-family: 'Raleway', sans-serif;
    color: #413E66;
    font-size: 2rem;
}

.Introduction{
    width:100%;
    height: 100%;
    background-color: #f6f6f6;
}
.inn{
    margin-left: 24%;
    margin-right: 24%;
    text-align: center;
    padding-top: 7%;
}
.intro{
    font-family: 'Merriweather', sans-serif;
    color: #66bfbf;
    padding-left:25px ;
    padding-top: 25px;
    margin-top: 0px;
    padding-right: 25px ;
    line-height: 3rem;
    font-size: 2.5rem;
}
.Get_Started {
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #51e2f5 5%, #4fafd4 100%);
    background-color:#51e2f5;
    border-radius:4px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size:20px;
    font-weight:bold;
  padding:12px 34px;
    text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
  margin-top: 25px;
}
.Get_Started:hover {
    background:linear-gradient(to bottom, #49a8ce 5%,#49a8ce 100%);
    background-color:#49a8ce;
}
.Get_Started:active {
    position:relative;
    top:1px;
}
.all{
    padding-top: 11%;
    margin-left: 24%;
    margin-right: 24%;
}
.question{
	font-family: 'Work Sans', sans-serif;
	color: #333;
    font-weight: 300;
    text-align: center;
}
.response{
    font-family: inherit;
    width: 70%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #9b9b9b;
    padding: 7px 0px;
    margin-left: 11%;
    margin-bottom: 25px;
    background: transparent;
    transition: border-color 0.2s;
}
.next{
    font-family: 'Work Sans', sans-serif;
      font-size: 22px;
      background-color: #279;
      color: #fff;
      border: 0px;
      border-radius: 3px;
      padding:8px;
      text-decoration: none;
      cursor: pointer;
      margin-top: 100px;
      margin-left:11%;
      margin-bottom: 20px;
  }
  button:hover{
      background-color: #38a;
  }
  .previous{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding:8px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 100px;
    margin-bottom: 20px;
  }