<html>
    <head>
        <title>NewFinal</title>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,600" rel="stylesheet">
        <link rel="stylesheet" href="/static/newStyles.css">

    </head>
    <body>
        <div id="nav-bar">
                <h1 class="product_name">UNITE MOJO</h1>
                <a href="nexIndex.html"  class="myButton1"><span id="instructions">Start</span></a>
                <a href="newHome.html"  class="myButton1"><span id="index">Home</span></a>
            </div>
        <div class="Introduction">
            <div class="inn"><h1 class="intro">
                Just press the Start button to take a quiz and get the desired output.
            </h1>
            <a href="#q1" class="Get_Started">Get Started</a>
        </div>
            
        </div>
        <form action="/startit" method="POST">
            <div class="Q_1" id="q1">
                <div class="all">
                    <h1 class="question">Q1.What is your Academic percentage in Operating Systems?</h1>
                    <input type="text" class="response" name="resp1" placeholder="Your Response">
                    <a href="#q2" class="next">Next Question</a>
                </div>
            </div>
            <div class="Q_1" id="q2">
                <div class="all">
                    <h1 class="question">Q2.What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q3" class="next">Next Question</a><a href="#q1" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q3">
                <div class="all">
                    <h1 class="question">Q3.What is the percentage in Programming concepts?</h1>
                    <input type="text" class="response" name="resp3" placeholder="Your Response">
                    <a href="#q4" class="next">Next Question</a><a href="#q2" class="previous">Previous Question</a>
                </div>
            </div> 
            <div class="Q_1" id="q4">
                <div class="all">
                    <h1 class="question">Q4.What is the percentage in Software Engineering?</h1>
                    <input type="text" class="response" name="resp4" placeholder="Your Response">
                    <a href="#q5" class="next">Next Question</a><a href="#q3" class="previous">Previous Question</a>
                </div>
            </div>     
            <div class="Q_1" id="q5">
                <div class="all">
                    <h1 class="question">Q5.What is the percentage in Computer Networks?</h1>
                    <input type="text" class="response" name="resp5" placeholder="Your Response">
                    <a href="#q6" class="next">Next Question</a><a href="#q4" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q6">
                <div class="all">
                    <h1 class="question">Q6.What is the percentage in Electronics subjects?</h1>
                    <input type="text" class="response" name="resp6" placeholder="Your Response">
                    <a href="#q7" class="next">Next Question</a><a href="#q5" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q7">
                <div class="all">
                    <h1 class="question">Q7.What is the percentage in Computer Architecture?</h1>
                    <input type="text" class="response" name="resp7" placeholder="Your Response">
                    <a href="#q8" class="next">Next Question</a><a href="#q6" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q8">
                <div class="all">
                    <h1 class="question">Q8.What is the percentage in Mathematics?</h1>
                    <input type="text" class="response" name="resp8" placeholder="Your Response">
                    <a href="#q9" class="next">Next Question</a><a href="#q7" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q9">
                <div class="all">
                    <h1 class="question">Q9.What is the percentage in Communication?</h1>
                    <input type="text" class="response" name="resp9" placeholder="Your Response">
                    <a href="#q10" class="next">Next Question</a><a href="#q8" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q10">
                <div class="all">
                    <h1 class="question">Q10.What are the working hours per day?</h1>
                    <input type="text" class="response" name="resp10" placeholder="Your Response">
                    <a href="#q11" class="next">Next Question</a><a href="#q9" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q11">
                <div class="all">
                    <h1 class="question">Q11.What is your logical quotient rating?</h1>
                    <input type="text" class="response" name="resp11" placeholder="Your Response">
                    <a href="#q12" class="next">Next Question</a><a href="#q10" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q12">
                <div class="all">
                    <h1 class="question">Q12.How many hackathons have you attended?</h1>
                    <input type="text" class="response" name="resp12" placeholder="Your Response">
                    <a href="#q13" class="next">Next Question</a><a href="#q11" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q13">
                <div class="all">
                    <h1 class="question">Q13.How many public speaking points do you have?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q14" class="next">Next Question</a><a href="#q12" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q14">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q15" class="next">Next Question</a><a href="#q13" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q15">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q16" class="next">Next Question</a><a href="#q14" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q16">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q17" class="next">Next Question</a><a href="#q15" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q17">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q18" class="next">Next Question</a><a href="#q16" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q18">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q19" class="next">Next Question</a><a href="#q17" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q19">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q20" class="next">Next Question</a><a href="#q18" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q20">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q21" class="next">Next Question</a><a href="#q19" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q21">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q22" class="next">Next Question</a><a href="#q20" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q22">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q23" class="next">Next Question</a><a href="#q21" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q23">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q24" class="next">Next Question</a><a href="#q22" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q24">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q25" class="next">Next Question</a><a href="#q23" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q25">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q26" class="next">Next Question</a><a href="#q24" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q26">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q27" class="next">Next Question</a><a href="#q25" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q27">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q28" class="next">Next Question</a><a href="#q26" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q28">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q29" class="next">Next Question</a><a href="#q27" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q29">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q30" class="next">Next Question</a><a href="#q28" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q30">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q31" class="next">Next Question</a><a href="#q29" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q31">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q32" class="next">Next Question</a><a href="#q30" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q32">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q33" class="next">Next Question</a><a href="#q31" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q33">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q34" class="next">Next Question</a><a href="#q32" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q34">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q35" class="next">Next Question</a><a href="#q33" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q35">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q36" class="next">Next Question</a><a href="#q34" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q36">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <a href="#q37" class="next">Next Question</a><a href="#q35" class="previous">Previous Question</a>
                </div>
            </div>
            <div class="Q_1" id="q37">
                <div class="all">
                    <h1 class="question">What is the percentage in Algorithms?</h1>
                    <input type="text" class="response" name="resp2" placeholder="Your Response">
                    <input type="submit" value="Submit" class="next">
                </div>
            </div>
            
            
            
            

        </form>
    </body>

</html>